LOCATE COMP "refclk" SITE "A7";
IOBUF PORT "refclk" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "B2";
LOCATE COMP "led[1]" SITE "C1";
LOCATE COMP "led[2]" SITE "C2";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "usb_ufp_dp" SITE "T6";
LOCATE COMP "usb_ufp_dm" SITE "R6";
LOCATE COMP "usb_ufp_pull" SITE "R7";
IOBUF PORT "usb_ufp_dp" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_ufp_dm" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_ufp_pull" IO_TYPE=LVCMOS33;

LOCATE COMP "flash_miso" SITE "T7";
LOCATE COMP "flash_mosi" SITE "T8";
LOCATE COMP "flash_csel" SITE "N8";
LOCATE COMP "flash_sclk" SITE "N9";
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_csel" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_sclk" IO_TYPE=LVCMOS33;

LOCATE COMP "resetn" SITE "M8";
IOBUF PORT "resetn" IO_TYPE=LVCMOS33;
